<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  
    <div class="box">
        <form action="/products" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Product name:</label>
                <input type="text" class="form-control" id="name" name="name" >
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Product image:</label>
                <input type="text" class="form-control" id="image" name="image" >
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Product price:</label>
                <input type="number" class="form-control" id="price" name="price" >
            </div>
             <div class="mb-3">
                <label for="desc" class="form-label">Product Desc:</label>
                <input type="text" class="form-control" id="desc" name="desc" >
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>